@import colors/material

body
  font-family: monospace

*
  box-sizing: border-box

board
  overflow: hidden
  width: 100%
.row
  display: flex
div.square
  height: 30px
  width: 30px
  overflow: hidden
  margin: 2px
  background-color: #fafafa
  border-radius: 15%
  box-shadow: inset 0px 0px 2px 2px #e8e8e8
  transition: 50ms
  line-height: 30px
  text-align: center
  font-size: 20px
  cursor: pointer
  &:hover
    box-shadow: inset 0px 0px 2px 2px #ccc
  &.activated
    background-color: #eee
    box-shadow: none
  &.flag
    border: 3px solid red
  &.question
    border: 3px solid blue
  &.mine
    background-color: red !important
  &[data-neighbors="1"]
    color: $light-blue
  &[data-neighbors="2"]
    color: $blue
  &[data-neighbors="3"]
    color: $light-green
  &[data-neighbors="4"]
    color: $green
  &[data-neighbors="5"]
    color: $yellow700
  &[data-neighbors="6"]
    color: $orange
  &[data-neighbors="7"]
    color: $red
  &[data-neighbors="8"]
    color: $purple
  