@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.board_container {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
}

div.square {
  height: 30px;
  width: 30px;
  overflow: hidden;
  margin: 2px;
  background-color: #fafafa;
  border-radius: 15%;
  box-shadow: inset 0px -2px 2px 0px #e8e8e8;
  transition: 50ms;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

div.square:active {
  box-shadow: inset 0px 0px 2px 0px #e8e8e8;
}

div.square.activated {
  background-color: #eee;
  box-shadow: none;
}

div.square.flag::after {
  content: '';
  position: absolute;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  background-image: url("/images/flag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: middle;
}

div.square.question::after {
  content: '?';
  font-weight: bold;
  font-size: 25px;
  color: #2196f3;
}

div.square.mine {
  background-color: red !important;
  border-radius: 50%;
  box-shadow: none;
}

div.square[data-neighbors='1'] {
  color: #03a9f4;
}

div.square[data-neighbors='2'] {
  color: #1976d2;
}

div.square[data-neighbors='3'] {
  color: #8bc34a;
}

div.square[data-neighbors='4'] {
  color: #4caf50;
}

div.square[data-neighbors='5'] {
  color: #f9a825;
}

div.square[data-neighbors='6'] {
  color: #f57c00;
}

div.square[data-neighbors='7'] {
  color: #f44336;
}

div.square[data-neighbors='8'] {
  color: #9c27b0;
}
